.logo{
    width: 15%;
    margin: 0 auto;
    padding: 3rem;
}
img{
    width: 100%;
        display: block;
        align-self: stretch;
        padding: 10px;
        object-fit: cover;
      }
/**** Categories ****/
h1{
    margin-left: 6rem;
    font-size: 30px;
}
a {
    text-decoration: none;
    color: black;
    font-size: 25px;
}
a:hover{
    color: #4A4AFF;
}
li{
    list-style: none;
    margin-bottom: 4rem;
    border-bottom: 1px solid;
}

/******* Product List ******/

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4rem;
}
article{
    display: flex;
    flex-direction: column;
}

.product_soldout, .product_onsale_soldout{
    opacity: 0.5;
}

h2{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 18px;
    color: rgb(39, 32, 121);
}

h3, p{
    font-family: 'Playfair Display', serif;
    line-height: 0.5px;
}

.link{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 18px;
    color: rgb(39, 32, 121);
}

.product{
    font-family: 'Playfair Display', serif;
    line-height: 0.5px;
    font-size: 14px;
    color: black;
}
.product:hover{
    color: black;
}

/**** Product ******/

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.des{
    grid-column: 2;
}
.img{
    width: 50%;
}
main{
        display: flex;
        flex-direction: column;
      }


